<!DOCTYPE html>
<html>
  <head>
    <title>TodoAppRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'hello_vue' %>
    <%= javascript_pack_tag 'to_dos/index' %>
  </head>

  <body>
    <a href = '/to_dos/new'>新規登録</a>
    <br>
    <%= yield %>
  </body>
</html>
